@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar { 
  width: 0 !important;
}

.rounded-bl-5xl {
  border-bottom-left-radius: 250px;
}
.rounded-br-5xl {
  border-bottom-right-radius: 250px;
}
